<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Demo Dijkstra Algorithm</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
	<div style="padding: 30px;">
		<div class="row">
			<label class="control-label">Demo tim duong di ngan nhat den tat ca cac dinh tu dinh xuat phat</label>
			<div class="col-xs-6 col-md-4 col-lg-2">
				<form id="action">
					<div class="form-group">
						<label class="control-label">Chon do thi</label>
						<select id="open_file_csv" class="form-control input-sm">
							<option value="co_huong">Demo : Do thi co huong</option>
							<option value="vo_huong_1">Demo : Do thi vo huong 1</option>
							<option value="vo_huong_2">Demo : Do thi vo huong 2</option>
							<option value="vo_huong_3">Demo : Do thi vo huong 3</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">Chon Diem xuat phat</label>
						<select id="select_start_node" class="form-control input-sm"></select>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-danger btn-sm" id="find_shortest_path">Tim</button>
					</div>
				</form>
			</div>
			<div id="content" class="col-xs-6 col-md-8 col-lg-10">
			</div>
		</div>
	</div>
</body>

</html>